---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SkipLink from "@/components/SkipLink.astro";
import siteMeta from "src/site-meta.config";

export type Props = {
	meta: SiteMeta;
};

const {
	meta: { title, description, image },
} = Astro.props as Props;
---

<html lang={siteMeta.lang}>
	<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
	<script type="text/javascript">
	  algoliasearchNetlify({
		appId: 'ZRL7J4I1T6',
		apiKey: 'fcea6458419533bee1600ffe62451ad1',
		siteId: '72e95a59-98e2-4a85-90e0-512cff204056',
		branch: 'main',
		selector: 'div#search',
	  });
	</script>
		<BaseHead {title} {description} {image} />
		<script define:vars={{ siteMeta }}>
			const root = document.documentElement;
			const colorThemeMetaTag = document.querySelector(
				"meta[name='theme-color']"
			);
			const theme =
				typeof localStorage !== "undefined"
					? localStorage.getItem("theme")
					: null;
			if (
				theme === "dark" ||
				(!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				root.classList.add("dark");
				colorThemeMetaTag.setAttribute("content", siteMeta.themeColorDark);
			} else {
				root.classList.remove("dark");
				colorThemeMetaTag.setAttribute("content", siteMeta.themeColorLight);
			}
		</script>
	</head>
	<body>
		<SkipLink />
		<Header />
		<main id="main" class="flex-1">
			<slot></slot>
		</main>
		<Footer />
	</body>
</html>
